# Python
.venv/
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Python env files
backend/.env

# Alembic
backend/migrations/__pycache__/

# Next.js
frontend/.next/
frontend/out/

# Node
frontend/node_modules/

# Frontend env files
frontend/.env.local
frontend/.env
frontend/.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build artifacts
build/
dist/

# Misc
*.pem